       #customCloseBtn {
            position: fixed;
            top: 20px;
            right: 25px;
            font-size: 40px;
            color: white;
            z-index: 9999;
            cursor: pointer;
            display: none; /* hidden by default */
            font-weight: bold;
            user-select: none;
        }

        .baguetteBox-overlay .full-image img {
    width: 90% !important;  /* or 100% for fullscreen */
    max-width: 90% !important;
    height: auto !important;
    object-fit: contain;
    border: 2px solid red;
}

.gallery {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;

}

.gallery img {
    width: 100%;
    height: auto;
    display: block; /* removes whitespace gap */
    object-fit: cover; /* optional */
    border-radius: 15px;
}


.gallery a {
    display: block;
    width: 100%;
}





#baguetteBox-overlay .full-image img {
	display: inline-block;
	width: 80%;
	height: 80%;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	box-shadow: 0 0 8px rgba(0, 0, 0, .6)
}
    


#baguetteBox-slider {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	white-space: nowrap;
	-webkit-transition: left .4s ease, -webkit-transform .4s ease;
	transition: left .4s ease, -webkit-transform .4s ease;
	transition: left .4s ease, transform .4s ease;
	transition: left .4s ease, transform .4s ease, -webkit-transform .4s ease, -moz-transform .4s ease
}

.header{
    max-width: 40%;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
	border: 1px solid lightblue;
	border: 0;
    
    .input{
        width: 100%;
        padding: 15px;
		border-radius: 10px;
		outline: 0;
    }
}